/* Resetando alguns estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #6a11cb, #fdfdfd); /* Gradiente de fundo */
    color: #fff;
    line-height: 1.6;
    padding: 0 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 0;
    border-radius: 10px;
    margin-bottom: 30px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #000000; /* Cor dourada ao passar o mouse */
}

/* Seção sobre */
#sobre {
    text-align: center;
    padding: 60px 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

#sobre h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #000000;
}

#sobre p {
    font-size: 1.2rem;
    color: #fff;
    margin: 10px 0;
}

/* Seção de Trabalhos */
#trabalhos {
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#trabalhos h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ebedf0;
}

.trabalho {
    display: inline-block;
    background-color: #f5f5f5;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 280px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.trabalho img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.trabalho h3 {
    color: #f5f5f5;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.trabalho p {
    color: #333;
    font-size: 1rem;
    margin-bottom: 15px;
}

.trabalho:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Seção de Referências */
#referencias {
    text-align: center;
    padding: 60px 20px;
    background-color: #141102;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#referencias h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#referencias ul {
    list-style: none;
    margin-top: 20px;
}

#referencias ul li {
    margin: 10px 0;
}

#referencias a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    transition: color 0.3s ease;
}

#referencias a:hover {
    color: #2575fc;
}

/* Seção de Contato */
#contato {
    text-align: center;
    padding: 60px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

#contato h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffcc00;
}

#contato p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

#contato ul {
    list-style: none;
    margin-top: 20px;
}

#contato ul li {
    margin: 10px 0;
}

#contato ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

#contato ul li a:hover {
    color: #ffcc00; /* Cor dourada ao passar o mouse */
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #0d6da5;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 10px 10px 0 0;
}

footer p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}